.header {
    background-color: $color-base;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 105px;
    width: 100%;
    padding: 5px 10%;
    font-family: $font-base;
        
        .logo {
            cursor: pointer;
                img {
                    height: 70px;
                    width: auto;
                    transition: all 0.3s;
                }
        &:hover {
            transform: scale(1.2);
        }
        }
        .nav-links {
            list-style: none;
            li {
                display: inline-block;
                padding: 0 20px;
            &:hover {
                transform: scale(1.1);
            }
            }
            a {
                font-size: 700;
                color: $color-nav;
                text-decoration: none;
                li a:hover {
                    color: #495057;
                }
            }
        }
        .btn {
            button {
                font-weight: 700;
                color: #fdfdfd;
                padding: 9px 25px;
                background: #464646;
                border: none;
                border-radius: 50px;
                cursor: pointer;
                transition: all 0.3 ease 0s;
                &:hover {
                    background-color: #353434;
                    color: $color-button-hover;
                }
            }
        }
        .user-img {
            width: 2%;
            display: none;
        }
}
