/*--------VARIABLES: header ---------*/

$color-base: #ffffff;
$color-nav: #808080;
$color-button-hover: #9e9e9e;
$color-secundario: #fff;
$font-base: "montserrat";
$color-terciario: #F2F2F2;
$size-regular: 20px;



/*--------VARIABLES: index ---------*/


